<%= link_to tasks_path do %>
  <button type="button" class="btn btn-default">List of Tasks</button>
<%  end %>

<br />
<br />
<% if user_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <button type="button" class="btn btn-default">Sign out</button>
  <%  end %>
<%  end %>
